@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-['Inter'] bg-[#f2f2f2] text-black;
        font-family: 'Inter', sans-serif;
    }
}

.mmt-gradient {
    background: linear-gradient(to bottom, #051423, #0a223d);
}

.search-widget-shadow {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}